/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UMCUGenetics/DxNextflowFP Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name            = 'UMCUGenetics/DxNextflowFP'
    author          = """UMCU Genetics"""
    homePage        = 'https://github.com/UMCUGenetics/DxNextflowFP'
    description     = """UMCU Genetics Fingerprint Workflow"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.10.4'
    version         = '1.0dev'
    doi             = ''
}


// Nextflow settings
nextflow {
	   enable {
	      moduleBinaries = true
	   }
	}

// Global default params, used in configs
params {
    genome_fasta = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'
    genome_dict = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.dict'
    bwa_index = '/hpc/diaggen/projects/Fingerprint_Nimagen/bwa-mem2_index/Homo_sapiens.GRCh37.GATK.illumina'
    intervals = '/hpc/diaggen/projects/Fingerprint_Nimagen/Tracks/nimagen_hg19.interval_list'
    dbsnp = '//hpc/diaggen/data/databases/GATK_resource_bundle/b37/dbsnp_138.b37.vcf.gz'

    // Input options
    input = null

    // Output options
    outdir = null
    publish_dir_mode = 'link'
    email = null

    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"
}


// Load base.config
includeConfig 'conf/base.config'

profiles {

    standard {
        // hpc specific configuration
        includeConfig "conf/hpc.config"

        process {
            executor = 'slurm'
            queue = 'cpu'
            queueSize = 100
            clusterOptions = "$params.cluster_options"
            errorStrategy = 'retry'
            maxRetries = 0
        }

        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "/hpc/diaggen/software/singularity_cache/"
        singularity.runOptions  = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
        singularity.autoMounts  = true
        executor {
            pollInterval = '10sec'
            queueStatInterval = '1min'
            submitRatelimit = '10sec'
        }

       mail {
            smtp.host = 'localhost'
        }
    }

    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "/hpc/diaggen/software/singularity_cache/"
        singularity.runOptions  = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }

    test {
        includeConfig 'conf/test.config'

        singularity.enabled = true
        runOptions          = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
        autoMounts          = true
    }
    test_docker {
        includeConfig "conf/test.config"
        docker.enabled   = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


// Load modules.config for module specific options
includeConfig 'conf/modules.config'
includeConfig 'subworkflows/UMCUGenetics/bam_fp/nextflow.config'