/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/dxnextflowwgs-ica/'
    pipelines_umcu_testdata_base_path = 'https://raw.githubusercontent.com/UMCUGenetics/DxNextflowTestData/main/'
    pipelines_umcu_local_testdata_base_path = "/hpc/diaggen/data/databases/testdata/DxNextflowFP/"

    input_dir = "${params.pipelines_umcu_local_testdata_base_path}/reads/"
    genome_fasta = "${params.pipelines_umcu_local_testdata_base_path}/reference/filt_testdata_GCA_000001405.15_GRCh38_full_analysis_set.fna"
    genome_dict = "${params.pipelines_umcu_local_testdata_base_path}/reference/filt_testdata_GCA_000001405.15_GRCh38_full_analysis_set.dict"
    bwa_index = "${params.pipelines_umcu_local_testdata_base_path}/reference/bwa-mem2/"
    intervals = "${params.pipelines_umcu_local_testdata_base_path}/testdata_nimagen_hg38.interval_list"
    // Use dbsnp resource from PRS pipeline
    dbsnp = "${params.pipelines_umcu_testdata_base_path}/DxNextflowPRS/dbsnp_v146_grch38_bcac_313.vcf.gz"
    output_file_prefix = "test"
    val_umi_dedup = true
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
