/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_umcu_testdata_base_path = 'https://raw.githubusercontent.com/UMCUGenetics/DxNextflowTestData/main/'
    modules_umcu_testdata_base_path   = 'https://raw.githubusercontent.com/UMCUGenetics/DxNextflowTestData/main/Modules/'
    subworkflows_umcu_testdata_base_path = 'https://raw.githubusercontent.com/UMCUGenetics/DxNextflowTestData/main/Subworkflows/'
    local_path = "/Users/svriend3/projects/fingerprint/dataset/reference/repo_chr22"

    input_dir = "/Users/svriend3/projects/fingerprint/dataset/reads/"
    genome_fasta = "${params.local_path}/chr22_GCA_000001405.15_GRCh38_full_analysis_set.fna"
    genome_dict = "${params.local_path}/chr22_GCA_000001405.15_GRCh38_full_analysis_set.dict"
    bwa_index = "${params.local_path}/bwa-mem2/"
    intervals = "${params.local_path}/chr22_nimagen_hg38.interval_list"
    // Use dbsnp resource from PRS pipeline
    dbsnp = "${params.pipelines_umcu_testdata_base_path}/DxNextflowPRS/dbsnp_v146_grch38_bcac_313.vcf.gz"
    output_file_prefix = "test"
    val_umi_dedup = true
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
