params {
    // Default locations
    genome_fasta = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/full_plus_hs38d1_analysis_set/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna"
    genome_dict  = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/full_plus_hs38d1_analysis_set/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.dict"
    bwa_index    = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/full_plus_hs38d1_analysis_set/bwa-mem2/"
    dbsnp        = "/hpc/diaggen/data/databases/GATK_resource_bundle/hg38/dbsnp_146.hg38.vcf.gz"

    cluster_options  = "--mail-user $params.email --mail-type FAIL --account=diaggen"
}