/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'BWAMEM2_MEM' {
        cpus = 6
        memory = { 20.GB * task.attempt }
        time = { 2.h * task.attempt }
        clusterOptions = "${params.cluster_options} --gres=tmpspace:20G"

        ext.args = { "-R '@RG\\tID:${meta.rg_id}\\tSM:${meta.id}\\tPL:ILLUMINA\\tLB:${meta.id}\\tPU:${meta.flowcell}' -K 100000000 -Y" }
        ext.prefix = { "${meta.rg_id}_${meta.id}" }
    }

    withName: 'FASTQC' {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 2.h * task.attempt }

        ext.args = '--quiet'

        publishDir {
            path = "${params.outdir}/QC/fastqc"
            mode = params.publish_dir_mode
            pattern = '*_{fastqc.html}'
        }
    }

    withName: 'GATK4_GENOTYPEGVCFS' {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 10.m * task.attempt }

        ext.args = "--include-non-variant-sites"

        publishDir {
            path = "${params.outdir}/vcf"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 10.m * task.attempt }

        ext.args = "--emit-ref-confidence BP_RESOLUTION --dont-use-soft-clipped-bases "
        ext.prefix = { "${meta.id}.haplo" }
        publishDir {
            path = "${params.outdir}/vcf/gatk4_haplo/"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: 'MULTIQC' {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 10.m * task.attempt }

        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }

        publishDir {
            path = "${params.outdir}/QC"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('versions.yml') ? null : filename }
        }
    }

    withName: 'PUBLISH_BAM_BAI' {
        cpus = 2
        memory = { 10.GB * task.attempt }
        time = { 10.m * task.attempt }
        publishDir {
            path = "${params.outdir}/unfiltered_bams"
            mode = params.publish_dir_mode
        }
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        cpus   = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 1.h * task.attempt }
        publishDir {
            path = "${params.outdir}/QC/samtools"
            mode = params.publish_dir_mode
        }
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        cpus   = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 1.h * task.attempt }
        publishDir {
            path = "${params.outdir}/QC/samtools"
            mode = params.publish_dir_mode
        }
    }

    withName: 'SAMTOOLS_INDEX' {
        cpus   = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }

    withName: 'SAMTOOLS_MERGE' {
        cpus   = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 1.h * task.attempt }
        ext.prefix = { "${meta.id}_merge" }
    }

    withName: 'SAMTOOLS_STATS' {
        cpus   = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 1.h * task.attempt }
        publishDir {
            path = "${params.outdir}/QC/samtools"
            mode = params.publish_dir_mode
        }
    }

    withName: 'SAMTOOLS_VIEW' {
        cpus   = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }

    withName: 'TRIMGALORE' {
        cpus   = { 2 * task.attempt }
        memory = { 20.GB * task.attempt }
        time   = { 1.h * task.attempt }
    
        publishDir {
            path = "${params.outdir}/QC/trimgalore"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('*.fastq.gz') ? null : filename }
        }
    }

    withName: 'UMITOOLS_DEDUP' {
        cpus   = { 2 * task.attempt }
        memory = { 20.GB * task.attempt }
        time   = { 1.h * task.attempt }
        ext.args = { " --umi-separator=\":\"  " }
        ext.prefix = { "${meta.id}_dedup" }
        publishDir {
            path = "${params.outdir}/QC/umitools"
            mode = params.publish_dir_mode
            saveAs = { filename -> filename.equals('*.bam') ? null : filename }
        }

    }

}
